<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="instanceDuplicate" fileName="logs/instanceDuplicate.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="INSTANCE_DUPLICATE"/>
            </Filters>
        </File>

        <File name="instanceInfo" fileName="logs/instanceInfo.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="INVALID_INSTANCE"/>
            </Filters>
        </File>

        <File name="error" fileName="logs/error.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </appenders>

    <loggers>
        <root level="debug">
            <appender-ref ref="error" level="error"/>
            <appender-ref ref="instanceInfo"/>
            <appender-ref ref="instanceDuplicate"/>
        </root>
    </loggers>

</configuration>